.App {
  height: 120vh;
  padding-top: 5px;
  background-color: #14162e;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Logo-rey-container{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Logo-rey{
  height: 150px;
}
.calculator-container{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 2px solid white;
}
.row{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}